.App {
  font-family: sans-serif;
  text-align: center;
}

a{
  border: none;
  background-color: black;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
}
 
